.custom-marker img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white; /* For visualization purposes */
}

.map-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.list-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 15vh; /* Updated height */
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  z-index: 2;
  display: flex;
  align-items: center; /* Vertically center the content */
}

.list {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.event-item {
  width: 155px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 47, 59, 0.85);
  border-radius: 5px;
  padding: 10px;
  position: relative;
  cursor:pointer;

}

.event-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  border-radius: 5px;
}

.event-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: saturate(130%); /* Adjust the saturation value as desired */
}


.event-title-thumb {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  z-index: 1; /* Bring the text to the front */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Limit the text to 5 lines */
  -webkit-box-orient: vertical;
  padding: 5px; /* Add padding to the event title */
}



.event-date-thumb {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 0.65rem;
  padding: 4px;
  border-radius: 5px;
  z-index: 2;
  opacity: 0.8;
}

.no-events {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(47, 47, 47, 0.5);
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  z-index: 1; /* Bring the text to the front */
  overflow: hidden;
  display: flex; /* Use flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  height: 20px; /* Set the height to 20px */
  padding: 2rem 4rem; /* Add padding to the event title */
  border-radius: 5rem;
  position: absolute;
  top: 50%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translate(-50%, -50%); /* Move to center */
}


.toggle-button-container{
  position: absolute;
  left: 11rem;
  top: 1rem;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid grey;
  border-radius: 100%;
}


.toggle_event_button {
  position: absolute;
  left: 0rem;
  top: 0rem;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #343434; /* Remove the background color */
  border: 2px solid grey;
  padding: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.toggle_event_button img {
  width: 100%;
  height: 100%;
}



.type-toggle-container {
  position: absolute;
  left: 0rem;
  top: 3rem;
  background-color: #343434;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 10;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid grey;
}

.type-toggle-list {
  display: grid; /* Add this line */
  grid-template-columns: repeat(2, 1fr); /* Add this line to create two columns */
  gap: 15px;
}

.button-clear-select-container {
position: relative;
}


.type-toggle{
font-size: 0.8rem;
font-family: "Inter", sans-serif;
font-weight: 600;
padding: 5px 15px;
}

.type-toggle input[type="checkbox"] {
width: auto;

}
